main {
    margin-top: 50px;
}

img.country-flag {
    vertical-align: middle;
}

.word-break {
    word-break: break-all;
}

.status {
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid grey;
    vertical-align: middle;
    margin: 0 auto;
}

.status-on {
    background-color: #19b519;
}

.status-off {
    background-color: #b52e0b;
}

.chart-node-reputation {
    width: 100%;
    margin-bottom: 10px;
}
